## Using Ollama
OLLAMA_URL="http://192.168.0.47:11434"
OLLAMA_KEY="ollama"
OLLAMA_MODEL_BASE="mychen76/llama3.1-intuitive-thinker:q5"

## prebuild specialized  mental model
OLLAMA_MODEL_CHAIN_OF_THOUGHTS="mychen76/llama3.1-intuitive-thinker:chain-of-thoughts.q5"
OLLAMA_MODEL_SECOND_ORDER_THINKING="mychen76/llama3.1-intuitive-thinker:second-order-thinking.q5"
OLLAMA_MODEL_ICEBERG_MENTAL_MODEL="mychen76/llama3.1-intuitive-thinker:iceberg-mental-model.q5"
OLLAMA_MODEL_THINKING_FAST_N_SLOW="mychen76/llama3.1-intuitive-thinker:thinking-fast-n-slow.q5"
OLLAMA_MODEL_CRITICAL_THINKING="mychen76/llama3.1-intuitive-thinker:critical-thinking.q5"

## Using OPENAI API
OPENAI_URL="http://192.168.0.26:11434/v1/"
OPENAI_KEY="ollama"
OPENAI_MODEL="mychen76/llama3.1-intuitive-thinker:q5"

## Huggingface
HF_MODEL_DEFAULT="mychen76/Llama-3.1_Intuitive-Thinker"
HF_MODEL_GGUF_Q5="https://huggingface.co/mychen76/Llama-3.1_Intuitive-Thinker_8B_2309_GGUF/resolve/main/Llama-3.1_Intuitive-Thinker_8B_2309.Q5_K_M.gguf"
HF_MODEL_GGUF_Q4="https://huggingface.co/mychen76/Llama-3.1_Intuitive-Thinker_8B_2309_GGUF/resolve/main/Llama-3.1_Intuitive-Thinker_8B_2309.Q4_K_M.gguf"
